li {
    list-style-type: none;
    border: 1px solid lightgray;
    padding: 10px; 
    margin: 10px;               
    box-shadow: 1px 1px 1px lightgray;
    position: relative;
}
.member-icon{
    margin-right: 5px;
}
.member-status{
    position: absolute;
    right: 5px;
}